body {
    background-color: #202020;
}

.banner-area {
    width: 100%;
    height: 900px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: "banner-area";
    grid-column: banner-area;
}

.img-base-banner {
    width: 1760px;
    height: 760px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-banner {
    width: 1280px;
    height: auto;
    box-shadow: 1px 5px 20px;
    border-radius: 28px;
    transition: all 0.5s;
    cursor: pointer;
}

.imagem-banner:hover {
    width: 1400px;
    height: auto;
}

.content-area {
    width: 1800px;
    height: 1200px;
    margin-bottom: 1rem;

    grid-area: "content-area";
    grid-column: content-area;
}

.img-text {
    width: 100%;
    height: 800px;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    grid-area: "img-text";
    grid-row: img-text;
}

.content-img, .content-text {
    width: 800px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    background-color: #f5f5f5;
    width: 600px;
    height: 360px;
    box-shadow: 1px 5px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    cursor: pointer;
    transition: all 0.5s;
}

.text-content:hover {
    width: 680px;
    height: 440px;
}

#text-home {
    width: 500px;
    margin: 40px;
    text-align: center;
    cursor: pointer;
}

.imagem-content {
    width: 540px;
    height: auto;
    box-shadow: 1px 5px 20px;
    border-radius: 28px;
    cursor: pointer;
    transition: all 0.5s;
}

.imagem-content:hover {
    width: 580px;
    height: auto;
}

.certificates {
    width: 100%;
    height: 400px;
    background-color: aquamarine;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    grid-area: "certificates";
    grid-row: certificates;
}

.certificate-box {
    background-color: aqua;
    width: 400px;
    height: 240px;
}

/* CSS GRID LAYOUT ALL */

.grid-wrapper {
    max-width: 1800px;

    margin: 0 auto;

    border: 0px solid #ffffff;

    display: grid;

    grid-template-areas: 
    "banner-area banner-area banner-area"
    "content-area content-area content-area";

    gap: 1rem;
}

/* CSS GRID LAYOUT CONTENT-AREA */

.content-area {

    display: grid;

    grid-template-areas: 
    "img-text"
    "img-text"
    "certificates";

    gap: 1rem;
}

@media (max-width: 768px) {
    .conteiner {
        flex-direction: column;
        font-size: 12px;
    }

    .grid-wrapper {
        max-width: 768px;
    
        margin: 0 auto;
    
        border: 0px solid #ffffff;
    
        display: grid;
    
        grid-template-areas: 
        "banner-area banner-area banner-area"
        "content-area content-area content-area";
    
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .conteiner {
        flex-direction: column;
        font-size: 8px;
    }

    .grid-wrapper {
        max-width: 480px;
    
        margin: 0 auto;
    
        border: 0px solid #ffffff;
    
        display: grid;
    
        grid-template-areas: 
        "banner-area banner-area banner-area"
        "content-area content-area content-area";
    
        gap: 1rem;
    }
}