body {
    background-color: #f6f6f6;
}

.banner-area {
    width: 100%;
    height: 800px;
    margin-top: 1rem;
    background-color: aquamarine;
    
    display: flex;
    align-items: center;
    justify-content: center;

    grid-area: "banner-area";
    grid-column: banner-area;
}

.img-base-banner {
    background-color: crimson;
    width: 1760px;
    height: 760px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-banner {
    width: 1280px;
    height: auto;
    border-radius: 24px;
}

.content-area {
    width: 1800px;
    height: 1200px;
    margin-bottom: 1rem;

    grid-area: "content-area";
    grid-column: content-area;
}

article {
    background-color: blue;
}

.img-text {
    width: 100%;
    height: 800px;

    display: flex;

    grid-area: "img-text";
    grid-row: img-text;
}

.content-img, .content-text {
    width: 50%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-base-content {
    background-color: yellowgreen;
    width: 800px;
    height: 680px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-content {
    width: 720px;
    height: auto;
    border-radius: 24px;
}

.certificates {
    width: 100%;
    height: 400px;
    background-color: aquamarine;

    display: flex;

    grid-area: "certificates";
    grid-row: certificates;
}

.certificate1, .certificate2, .certificate3 {
    width: 600px;
}

/* CSS GRID LAYOUT ALL */

.grid-wrapper {
    max-width: 1800px;

    margin: 0 auto;

    border: 0px solid #ffffff;

    display: grid;

    grid-template-areas: 
    "banner-area banner-area banner-area"
    "content-area content-area content-area";

    gap: 1rem;
}

/* CSS GRID LAYOUT CONTENT-AREA */

.content-area {

    display: grid;

    grid-template-areas: 
    "img-text"
    "img-text"
    "certificates";

    gap: 1rem;
}

@media (max-width: 768px) {
    .conteiner {
        flex-direction: column;
        font-size: 12px;
    }

    .grid-wrapper {
        max-width: 768px;
    
        margin: 0 auto;
    
        border: 0px solid #ffffff;
    
        display: grid;
    
        grid-template-areas: 
        "banner-area banner-area banner-area"
        "content-area content-area content-area";
    
        gap: 1rem;
    }
}

@media (max-width: 480px) {
    .conteiner {
        flex-direction: column;
        font-size: 8px;
    }

    .grid-wrapper {
        max-width: 480px;
    
        margin: 0 auto;
    
        border: 0px solid #ffffff;
    
        display: grid;
    
        grid-template-areas: 
        "banner-area banner-area banner-area"
        "content-area content-area content-area";
    
        gap: 1rem;
    }
}