body {
    background-color: #f6f6f6;
}

.banner-area {
    width: 100%;
    height: 560px;
    margin-top: 1rem;
    background-color: aquamarine;

    grid-area: "banner-area";
    grid-column: banner-area;
}

.content-area {
    width: 1800px;
    height: 1200px;
    margin-bottom: 1rem;

    grid-area: "content-area";
    grid-column: content-area;
}

article {
    background-color: blue;
}

.img-text {
    width: 100%;
    height: 100%;

    display: flex;

    grid-area: "img-text";
    grid-row: img-text;
}

.content-img, .content-text {
    width: 50%;
    height: 100%;
}

.certificates {
    width: 100%;
    height: 100%;
    background-color: aquamarine;

    display: flex;

    grid-area: "certificates";
    grid-row: certificates;
}

.certificate1, .certificate2, .certificate3 {
    width: 600px;
}

/* CSS GRID LAYOUT ALL */

.grid-wrapper {
    max-width: 1800px;

    margin: 0 auto;

    border: 0px solid #ffffff;

    display: grid;

    grid-template-areas: 
    "banner-area banner-area banner-area"
    "content-area content-area content-area";

    gap: 1rem;
}

/* CSS GRID LAYOUT CONTENT-AREA */

.content-area {

    display: grid;

    grid-template-areas: 
    "img-text"
    "img-text"
    "certificates";

    gap: 1rem;
}