* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    padding: 20px 0;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu li {
    display: inline-block;
    margin: 0 12px;
}

.menu li a {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #803E3E;
}

.conteiner-logo {
    display: flex;
    align-items: center;
}

.logo-imagem {
    width: 360px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        font-size: 8px;
    }
}